.modalBtn {
  background: none;
  border: 0;
  border-radius: 100%;
}

.profileImg {
  width: 10px;
  position: relative;
}

.modalBtn:hover {
  background: none;
}

.profileMain {
  margin-left: 45px;
  position: relative;
}

.ProfileIcon {
  width: 100px;
  height: 80px;
  border-radius: 100%;
}

.editIcon {
  margin-left: 220px;
  width: 40px;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: -20px;
  border-radius: 50%;
}

.userInfoBlock {
  margin: 40px 0 0 30px;
  padding-left: 10px;
}

.userInfo {
  border-bottom: 1px solid lightgrey;
  font-family: 'Creepster', serif;
  font-size: 20px;
  padding-left: 5px;
}

.starIcon {
  width: 40px;
}

.profileModal{
  width: 60%;
}

.editButton {
  cursor: pointer;
}

.image {
  width: 240px;
  margin-left: 28px;
  border-radius: 100%;
}

.changeField {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid lightgrey;
}

.editAvatar {
  cursor: pointer;
}

.editClick {
  font-size: 14px;
  position: relative;
  margin-top: 50px;
  margin-left: 40px;
  color: grey;
  cursor: pointer;
}

.editButton {
  background: none;
  border: none;
}

.editButton_dis {
  background: none;
  border: none;
  color: white;
}


label.filebutton {
  width:120px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

.editBlockMain {
  margin-top: 30px;
}

.inputBlock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.editInput {
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 17px;
  margin-left: 45px;
  width: 320px;
  font-size: 20px;
  padding-left: 5px;
  font-family: 'Creepster', serif;
}

.buttonsBlock {
  margin-left: 45px;
}

.loadingBtn {
  background-color: red;
  border: none;
  width: 100px;
}

.loadingBtn :hover {
  background-color: white;
}

.editTitle {
  margin-left: 45px;
  color: grey;
}

.socialNetworkIcons {
  text-align: center;
}

.socialIcon {
  width: 100px;
  height: 100px;
}